language: node_js
node_js:
  - "8"
  - "10"
  - "11"
  - "node"
env:
  - JWT_SECRET="EverythingIsAwesome!"
before_script:
  - npm run lint
after_success:
  - pip install --user codecov
  - codecov --file coverage/lcov.info --disable search
