language: node_js
node_js:
  - "6"
  - "8"
  - "9"
env:
  - JWT_SECRET="EverythingIsAwesome!"
before_install:
  - pip install --user codecov
after_success:
  - codecov --file coverage/lcov.info --disable search
